# pip install torch==1.5.1+cu92 torchvision==0.6.1+cu92 -f https://download.pytorch.org/whl/torch_stable.html
biopython==1.79
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
charset-normalizer==2.0.12
click==8.0.4
cmappy==4.0.1
daal==2021.5.3
daal4py==2021.5.3
filelock==3.4.1
future==0.18.2
gensim==3.4.0
h5py==3.1.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
lmdb==1.3.0
llvmlite==0.36.0
numba==0.53.1
protobuf==3.19.5
pubchempy==1.0.4
pyfaidx==0.7.1
pynndescent==0.5.7
pyopenssl==22.0.0
pyparsing==3.0.9
requests==2.27.1
scikit-learn==0.24.2
scikit-learn-intelex==2021.5.3
scipy==1.5.4
seaborn==0.11.2
smart-open==6.2.0
spark-parser==1.8.9
statannotations==0.5.0
suds-community==1.1.2
tape-proteins==0.5
tbb==2021.6.0
tensorboardx==2.5.1
tqdm==4.64.0
umap-learn==0.5.3
uncompyle6==3.8.0
untangle==1.1.1
urllib3==1.26.12
zipp==3.6.0
fastparquet
anndata
